<!-- views/index.ejs -->
<% layout('../boilerplate') -%>
<div class="row">
    <h2>List posts</h2>
    <div class="col-xl-12 col-lg-12">
        <table class="table table-striped table-hover">
            <thead>
            
            </thead>
        </table>
    </div>
</div>
